.Header
    z-index 1000
    width 100%
    border-bottom 1px #DDD solid
    margin-bottom 40px
    
    &.ishome
        position absolute
        border-bottom 0px #DDD solid
        margin-bottom 0px
        
        a
            color #FFF
            &:hover
                color #FFF
            
        .Nav-logo
            background-position 0px 0px !important