.Nav
    overflow hidden
    height 60px
    padding 20px 0

        
    &-links
        float right
        list-style none
        
        li
            display inline-block
            a
                display block
                margin 0 10px

    &-logo
        float left 
        display inline-block
        background-image url('../img/logo.png')
        background-position 0px 36px
        width 101px
        height 36px
