/**
 * layout/content.sass
 *
 * contains reusable layouts templates for content diagramation
 */

/**
 * Mixin for center an element with a specific width
 */
@mixin content-center($width)
    margin: auto
    width: $width

.content
    padding: 20px
    box-sizing: border-box

    &--small
        width: 300px

    &--medium
        width: 768px

    &--center
        margin: auto