.row
    position: relative
    &:after
        content: ""
        display: table
        clear: both

.columns
    width: 100%
    float: left
    box-sizing: border-box


/* For devices larger than 550px */
@media (min-width: $width-mobile) 
    .columns
        margin-left: 4%

        &:first-child
            margin-left: 0

        &.one            
            width: grid-column-width(1)
        &.two
            width: grid-column-width(2)
        &.three
            width: grid-column-width(3)
        &.four
            width: grid-column-width(4)
        &.five
            width: grid-column-width(5)
        &.six
            width: grid-column-width(6)
        &.seven
            width: grid-column-width(7)
        &.eight
            width: grid-column-width(8)
        &.nine
            width: grid-column-width(9)
        &.ten
            width: grid-column-width(10)
        &.eleven
            width: grid-column-width(11)
        &.twelve
            width: grid-column-width(12)
            margin-left: 0

    /* Offsets */
    // .offset-by-one.column,
    // .offset-by-one.columns          { margin-left: 8.66666666667%; }
    // .offset-by-two.column,
    // .offset-by-two.columns          { margin-left: 17.3333333333%; }
    // .offset-by-three.column,
    // .offset-by-three.columns        { margin-left: 26%;            }
    // .offset-by-four.column,
    // .offset-by-four.columns         { margin-left: 34.6666666667%; }
    // .offset-by-five.column,
    // .offset-by-five.columns         { margin-left: 43.3333333333%; }
    // .offset-by-six.column,
    // .offset-by-six.columns          { margin-left: 52%;            }
    // .offset-by-seven.column,
    // .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    // .offset-by-eight.column,
    // .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    // .offset-by-nine.column,
    // .offset-by-nine.columns         { margin-left: 78.0%;          }
    // .offset-by-ten.column,
    // .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    // .offset-by-eleven.column,
    // .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    // .offset-by-one-third.column,
    // .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    // .offset-by-two-thirds.column,
    // .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    // .offset-by-one-half.column,
    // .offset-by-one-half.columns     { margin-left: 52%; }


