.main-nav
    height: 62px
    width: 100%
    position: absolute

    &__logo
        background-image: url('../img/logo.png')
        background-position: 0px 0px
        width: 101px
        height: 36px
        margin: 14px 20px 10px
        display: block
        box-sizing: border-box

    &__item
        height: 62px
        line-height: 62px
        position: relative

        // &--dropdown:hover
        //     .dropdown
        //         display: block

    &__link
        padding: 0 20px
        display: block
        color: #FFF
        text-decoration: none
        cursor: pointer

    &__avatar
        top: 14px
        display: inline-block
        border-color: #FFF

    &__burguer
        font-size: 40px

    &__dropdown
        margin-top: -10px

    /* white background color */
    &--positive
        background: white
        border-bottom: 1px #DDD solid
        position: static

    &--positive &__logo
        background-position: 0px 36px

    &--positive &__link
        color: #666

    &--positive &__avatar
        border-color: #BBB
