<div class="Ads wrapper">

    <h1 class="page-title">
        Mis anuncios
        <a href="/#/ads/new"><i class="fa fa-plus"></i></a>
    </h1>

    <div class="Ads-ad" ng-repeat="ad in adsList">
        <div class="Ads-ad-icons">
            <a href="/#/"><i class="fa fa-trash-o"></i></a>
            <a href="/#/"><i class="fa fa-pencil-square-o"></i></a>
        </div>
        <h4>Clases de ingles</h4>
        <div class="Ads-ad-price">
            $80 hr
        </div>

    </div>
  
</div>