<div class="Booking wrapper">
    <h1>Detalle del servicio</h1>
    <h3>{{data.service.name}} x{{data.amount}} horas</h3>

    <div class="Booking-detail">
        <div class="Booking-row row-user">
            <div class="Booking-label"><img src="http://10.0.0.173:8081{{data.user.avatar}}" class="Avatar x2"></div>
            <h4 class="Booking-value">{{data.user.first_name}} {{data.user.last_name}}</h4>
        </div>
        <div class="Booking-row">
            <div class="Booking-label">Ciudad</div>
            <div class="Booking-value">Bogota, Colombia</div>
        </div>
        <div class="Booking-row">
            <div class="Booking-label">Dirección</div>
            <div class="Booking-value">{{data.address}}</div>
        </div>
        <div class="Booking-row">
            <div class="Booking-label">Fecha</div>
            <div class="Booking-value">{{data.datetime}}</div>
        </div>
        <div class="Booking-row row-comment">
            <div class="Booking-label">Comentario</div>
            <p>
                {{data.comments}}
            </p>
        </div>

    </div>

    <div class="Booking-costs">

        <div class="row">
            <div class="col-xs-7">Valor por hora</div>
            <div class="text-right col-xs-5">{{data.price}} $</div>
        </div>

        <div class="row">
            <div class="col-xs-7">Valor x{{data.amount}} horas</div>
            <div class="text-right col-xs-5">{{billing.amount}} $</div>
        </div>

        <div class="row">
            <div class="col-xs-7"><strong>Total</strong></div>
            <div class="text-right col-xs-5"><strong>{{billing.total}} $</strong></div>
        </div>
        
        <button ng-click="cancel()" type="submit" class="btn btn-default">Cancelar reserva</button>

        <button ng-click="accept()" type="submit" ng-hide="data.user.id == data.user_provider.id" class="btn btn-primary">Aceptar reserva</button>
    </div>    
</div>