.alert
    padding: 15px
    margin-bottom: 20px
    border: 2px solid transparent
    border-radius: 4px

    &--error
        color: #a94442
        border-color: #f2dede
        background-color: #F9F2F2;