.pure-button
    height: 45px
    padding: 0.8em 1.2em
    border-radius: 4px
    color: white

    &:hover, &:active
        box-shadow: none

    &--ghost
        background: transparent !important

        &.pure-button-blue
            border: 2px solid #3498DB
            color: #3498DB 

            &:hover
                border-color: #2775A8

            &:active
                color: #2775A8


    &-blue
        background: #3498DB 
        // border-bottom: 2px solid #2775A8

    &-green 
        background: #1ABC9C 
        // border-bottom: 2px solid #15947B

    &-red 
        background: #E74C3C
        // border-bottom: 2px solid #AD3326
        // 

    &-loader
        display: none

    &--loading  &-loader
        display: block

    &--loading  &-text
        display: none

*[disabled]
    opacity: 0.6 !important
    cursor: default !important