.dropdown
    display: none
    position: absolute
    width: 200px
    z-index: 1000
    padding-top: 10px

    &--right
        right: 16px

    &--left
        left: 16px

    &--open
        display: block

    &__content
        border: 1px #CCC solid
        border-radius: 4px
        background: #FFF

    &__item
        line-height: 40px
        display: block
        padding: 4px 15px
        text-decoration: none
        color: #666
        border-bottom: 1px #EEE solid
        cursor: pointer

        &:last-child
            border-width: 0px

        &:hover
            background: #F5F5F5