.form
    input[type="text"], 
    input[type="password"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="date"], 
    input[type="month"], 
    input[type="time"], 
    input[type="week"], 
    input[type="number"], 
    input[type="email"], 
    input[type="url"], 
    input[type="search"], 
    input[type="tel"], 
    input[type="color"],
    textarea,
    select
        padding: 0.7em 0.8em !important
        margin-bottom: 0.8em
        border: 2px solid #DDD
        box-shadow: none 
        // font-weight: 300

    select
        height: 2.8em

    label
        color: #777

    &__control
        position: relative

        &--invalid &__error
            color: #b94a48
            display: block
           
        &--invalid 
            input, select, textarea
                // color: #b94a48 !important
                border-color: #F4BC11 !important 

        &--valid input
            // border-color: #3fb34f !important

        &__error
            text-align: left
            font-size: 0.9rem
            display: none
            margin: -6px 0 22px 2px
