.icon
    line-height: inherit !important
    &::before
        line-height: inherit !important

    &--circle
        padding: 5px
        display: inline-block
        border-radius: 50%
        text-align: center

        .icon
            color: #FFF
    