.list
    position: relative

    &__item
        position: relative
        min-height: 44px
        line-height: 44px
        overflow: hidden
        padding: 20px 0
        border-bottom: 1px solid #DDD

        &:last-child
            // border-width: 0px

        &--right

        &__right
            position: absolute
            right: 0
            top: 50%
            margin-top: -22px

        p
            display: block
            line-height: 1rem
            margin: 0
            color: #777