.loader 
    width: 100%
    text-align: center
    display: none

    &--show
        display: block
        
    div 
        width: 18px
        height: 18px
        background-color: #FFF
        border-radius: 100%
        display: inline-block
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both
        animation: sk-bouncedelay 1.4s infinite ease-in-out both

        &:first-child
            -webkit-animation-delay: -0.32s
            animation-delay: -0.32s

        &:nth-child(2)
            -webkit-animation-delay: -0.16s
            animation-delay: -0.16s
            

@-webkit-keyframes sk-bouncedelay 
    0%, 80%, 100% 
        -webkit-transform: scale(0)

    40% 
        -webkit-transform: scale(0.7) 


@keyframes sk-bouncedelay 
    0%, 80%, 100% 
        -webkit-transform: scale(0)
        transform: scale(0)
    40% 
        -webkit-transform: scale(0.7)
        transform: scale(0.7)
