.avatar
    border-radius: 50%
    border: 2px #DDD solid
    overflow: hidden
    position: relative

    img
        width: 100%
        height: 100%
        vertical-align: top

    &--small
        width: 30px
        height: 30px

    &--medium
        width: 50px
        height: 50px

    &--large
        width: 80px
        height: 80px
        border-width: 3px

    &--xlarge
        width: 100px
        height: 100px
        border-width: 3px

