.view
    position: relative

    &__loader
        background: #FFF
        opacity: 0.7
        position: absolute
        height: 100%
        z-index: 1000
        top: 0
        left: 0

        div
            margin-top: 35%
            width: 30px
            height: 30px
            background-color: #3498DB