.is-none
    display: none

.is-block
    display: block

.is-full
    width: 100%

.is-center
    text-align: center

.pull-left
    float: left

.pull-right
    float: right

.line-sep
    border-bottom: 1px #DDD solid
    margin: 20px 0

.is-mobile
    display: none

.is-desktop
    display: block


/**
 * Tablets & mobile
 */
@media (max-width: $width-tablet)
    .is-mobile
        display: block

    .is-desktop
        display: none