.account
    .list
        .pure-button
            width: 180px
/**
 * Tablets & desktops
 */

@media (max-width: $width-tablet)
    .account
        width: auto

        .list
            .pure-button
                width: 50px
                padding: 10px 0px