.edit-profile

    &__avatar
        .avatar
            margin: 30px auto 30px
            -webkit-transition: border-color 0.2s
            transition: border-color 0.2s

            &:hover, &.active
                cursor: pointer
                border-color: #3498DB
                .icon--circle
                    top: 35px
                    background-color: #3498DB

            .icon--circle
                width: 28px
                height: 30px
                line-height: 28px
                background-color: #555
                top: 56px
                left: 31px
                position: absolute
                transition: top 0.2s, background-color 0.2s    
                -webkit-transition: top 0.2s, background-color 0.2s

                .icon
                    font-size: 22px


/**
 * Tablets & desktops
 */

@media (max-width: $width-tablet)
    .edit-profile
        width: auto

