// purecss base modules
@import ../libs/pure/base
@import ../libs/pure/forms
@import ../libs/pure/buttons

// base 
@import base/variables
@import base/functions
@import base/fonts

// helpers
@import helpers/helpers

// components
@import components/list
@import components/buttons
@import components/forms
@import components/suggest
@import components/alert
@import components/media
@import components/dropdown
@import components/icons
@import components/loader
@import components/view

// layout
@import layout/main-nav
@import layout/content
@import layout/grids

// pages
@import pages/home
@import pages/signin
@import pages/signup
@import pages/account
@import pages/edit-profile
@import pages/edit-email


html, body
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: sans-serif
    letter-spacing: 0.01em
    // background-color: #000