/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*!
normalize.css v^3.0 | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.hidden, [hidden] {
  display: none !important; }

.pure-img {
  max-width: 100%;
  height: auto;
  display: block; }

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pure-form input:not([type]) {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pure-form input[type=color] {
  padding: .2em .5em; }

.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus {
  outline: 0;
  border-color: #129FEA; }

.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA; }

.pure-form input[type=file]:focus, .pure-form input[type=radio]:focus, .pure-form input[type=checkbox]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA; }

.pure-form .pure-checkbox, .pure-form .pure-radio {
  margin: .5em 0;
  display: block; }

.pure-form input[type=text][disabled], .pure-form input[type=password][disabled], .pure-form input[type=email][disabled], .pure-form input[type=url][disabled], .pure-form input[type=date][disabled], .pure-form input[type=month][disabled], .pure-form input[type=time][disabled], .pure-form input[type=datetime][disabled], .pure-form input[type=datetime-local][disabled], .pure-form input[type=week][disabled], .pure-form input[type=number][disabled], .pure-form input[type=search][disabled], .pure-form input[type=tel][disabled], .pure-form input[type=color][disabled], .pure-form select[disabled], .pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

.pure-form input[readonly], .pure-form select[readonly], .pure-form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc; }

.pure-form input:focus:invalid, .pure-form textarea:focus:invalid, .pure-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d; }

.pure-form input[type=file]:focus:invalid:focus, .pure-form input[type=radio]:focus:invalid:focus, .pure-form input[type=checkbox]:focus:invalid:focus {
  outline-color: #e9322d; }

.pure-form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff; }

.pure-form select[multiple] {
  height: auto; }

.pure-form label {
  margin: .5em 0 .2em; }

.pure-form fieldset {
  margin: 0;
  padding: .35em 0 .75em;
  border: 0; }

.pure-form legend {
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5; }

.pure-form-stacked input[type=text], .pure-form-stacked input[type=password], .pure-form-stacked input[type=email], .pure-form-stacked input[type=url], .pure-form-stacked input[type=date], .pure-form-stacked input[type=month], .pure-form-stacked input[type=time], .pure-form-stacked input[type=datetime], .pure-form-stacked input[type=datetime-local], .pure-form-stacked input[type=week], .pure-form-stacked input[type=number], .pure-form-stacked input[type=search], .pure-form-stacked input[type=tel], .pure-form-stacked input[type=color], .pure-form-stacked input[type=file], .pure-form-stacked select, .pure-form-stacked label, .pure-form-stacked textarea {
  display: block;
  margin: .25em 0; }

.pure-form-stacked input:not([type]) {
  display: block;
  margin: .25em 0; }

.pure-form-aligned input, .pure-form-aligned textarea, .pure-form-aligned select, .pure-form-aligned .pure-help-inline, .pure-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.pure-form-aligned textarea {
  vertical-align: top; }

.pure-form-aligned .pure-control-group {
  margin-bottom: .5em; }

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0; }

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em; }

.pure-form input.pure-input-rounded, .pure-form .pure-input-rounded {
  border-radius: 2em;
  padding: .5em 1em; }

.pure-form .pure-group fieldset {
  margin-bottom: 10px; }

.pure-form .pure-group input, .pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px; }

.pure-form .pure-group input:focus, .pure-form .pure-group textarea:focus {
  z-index: 3; }

.pure-form .pure-group input:first-child, .pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0; }

.pure-form .pure-group input:first-child:last-child, .pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0; }

.pure-form .pure-group input:last-child, .pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0; }

.pure-form .pure-group button {
  margin: .35em 0; }

.pure-form .pure-input-1 {
  width: 100%; }

.pure-form .pure-input-2-3 {
  width: 66%; }

.pure-form .pure-input-1-2 {
  width: 50%; }

.pure-form .pure-input-1-3 {
  width: 33%; }

.pure-form .pure-input-1-4 {
  width: 25%; }

.pure-form .pure-help-inline, .pure-form-message-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: .875em; }

.pure-form-message {
  display: block;
  color: #666;
  font-size: .875em; }

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: .7em 0 0; }
  .pure-form input:not([type]), .pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form label {
    margin-bottom: .3em;
    display: block; }
  .pure-group input:not([type]), .pure-group input[type=text], .pure-group input[type=password], .pure-group input[type=email], .pure-group input[type=url], .pure-group input[type=date], .pure-group input[type=month], .pure-group input[type=time], .pure-group input[type=datetime], .pure-group input[type=datetime-local], .pure-group input[type=week], .pure-group input[type=number], .pure-group input[type=search], .pure-group input[type=tel], .pure-group input[type=color] {
    margin-bottom: 0; }
  .pure-form-aligned .pure-control-group label {
    margin-bottom: .3em;
    text-align: left;
    display: block;
    width: 100%; }
  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0; }
  .pure-form .pure-help-inline, .pure-form-message-inline, .pure-form-message {
    display: block;
    font-size: .75em;
    padding: .2em 0 .8em; } }

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: 0 transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px; }

.pure-button-hover, .pure-button:hover, .pure-button:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }

.pure-button:focus {
  outline: 0; }

.pure-button-active, .pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000\9; }

.pure-button[disabled], .pure-button-disabled, .pure-button-disabled:hover, .pure-button-disabled:focus, .pure-button-disabled:active {
  border: 0;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: alpha(opacity=40);
  -khtml-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  cursor: not-allowed;
  box-shadow: none; }

.pure-button-hidden {
  display: none; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #0078e7;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #666; }

h1 {
  margin-bottom: 40px; }

.is-none {
  display: none; }

.is-block {
  display: block; }

.is-full {
  width: 100%; }

.is-center {
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.line-sep {
  border-bottom: 1px #DDD solid;
  margin: 20px 0; }

.is-mobile {
  display: none; }

.is-desktop {
  display: block; }

@media (max-width: 768px) {
  .is-mobile {
    display: block; }
  .is-desktop {
    display: none; } }

.list {
  position: relative; }

.list__item {
  position: relative;
  min-height: 44px;
  line-height: 44px;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #DDD; }

.list__item__right {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -22px; }

.list__item p {
  display: block;
  line-height: 1rem;
  margin: 0;
  color: #777; }

.pure-button {
  height: 45px;
  padding: 0.8em 1.2em;
  border-radius: 4px;
  color: white; }

.pure-button:hover, .pure-button:active {
  box-shadow: none; }

.pure-button--ghost {
  background: transparent !important; }

.pure-button--ghost.pure-button-blue {
  border: 2px solid #3498DB;
  color: #3498DB; }

.pure-button--ghost.pure-button-blue:hover {
  border-color: #2775A8; }

.pure-button--ghost.pure-button-blue:active {
  color: #2775A8; }

.pure-button-blue {
  background: #3498DB; }

.pure-button-green {
  background: #1ABC9C; }

.pure-button-red {
  background: #E74C3C; }

.pure-button-loader {
  display: none; }

.pure-button--loading .pure-button-loader {
  display: block; }

.pure-button--loading .pure-button-text {
  display: none; }

*[disabled] {
  opacity: 0.6 !important;
  cursor: default !important; }

.form input[type="text"], .form input[type="password"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="date"], .form input[type="month"], .form input[type="time"], .form input[type="week"], .form input[type="number"], .form input[type="email"], .form input[type="url"], .form input[type="search"], .form input[type="tel"], .form input[type="color"], .form textarea, .form select {
  padding: 0.7em 0.8em !important;
  margin-bottom: 0.8em;
  border: 2px solid #DDD;
  box-shadow: none; }

.form select {
  height: 2.8em; }

.form label {
  color: #777; }

.form__control {
  position: relative; }

.form__control--invalid .form__control__error {
  color: #b94a48;
  display: block; }

.form__control--invalid input, .form__control--invalid select, .form__control--invalid textarea {
  border-color: #F4BC11 !important; }

.form__control__error {
  text-align: left;
  font-size: 0.9rem;
  display: none;
  margin: -6px 0 22px 2px; }

.suggest {
  position: relative; }

.suggest__results {
  width: 100%;
  background: white;
  position: absolute;
  border-radius: 0 0 4px 4px;
  padding: 4px 0;
  margin-top: -16px;
  cursor: pointer;
  z-index: 1000; }

.suggest__element {
  color: #666;
  padding: 8px 16px; }

.suggest__element:hover {
  background: #F5F5F5; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 4px; }

.alert--error {
  color: #a94442;
  border-color: #f2dede;
  background-color: #F9F2F2; }

.avatar {
  border-radius: 50%;
  border: 2px #DDD solid;
  overflow: hidden;
  position: relative; }

.avatar img {
  width: 100%;
  height: 100%;
  vertical-align: top; }

.avatar--small {
  width: 30px;
  height: 30px; }

.avatar--medium {
  width: 50px;
  height: 50px; }

.avatar--large {
  width: 80px;
  height: 80px;
  border-width: 3px; }

.avatar--xlarge {
  width: 100px;
  height: 100px;
  border-width: 3px; }

.dropdown {
  display: none;
  position: absolute;
  width: 200px;
  z-index: 1000;
  padding-top: 10px; }

.dropdown--right {
  right: 16px; }

.dropdown--left {
  left: 16px; }

.dropdown--open {
  display: block; }

.dropdown__content {
  border: 1px #CCC solid;
  border-radius: 4px;
  background: #FFF; }

.dropdown__item {
  line-height: 40px;
  display: block;
  padding: 4px 15px;
  text-decoration: none;
  color: #666;
  border-bottom: 1px #EEE solid;
  cursor: pointer; }

.dropdown__item:last-child {
  border-width: 0px; }

.dropdown__item:hover {
  background: #F5F5F5; }

.icon {
  line-height: inherit !important; }

.icon::before {
  line-height: inherit !important; }

.icon--circle {
  padding: 5px;
  display: inline-block;
  border-radius: 50%;
  text-align: center; }

.icon--circle .icon {
  color: #FFF; }

.loader {
  width: 100%;
  text-align: center;
  display: none; }

.loader--show {
  display: block; }

.loader div {
  width: 18px;
  height: 18px;
  background-color: #FFF;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.loader div:first-child {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader div:nth-child(2) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(0.7); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); } }

.view {
  position: relative; }

.view__loader {
  background: #FFF;
  opacity: 0.7;
  position: absolute;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0; }

.view__loader div {
  margin-top: 35%;
  width: 30px;
  height: 30px;
  background-color: #3498DB; }

.main-nav {
  height: 62px;
  width: 100%;
  position: absolute; }

.main-nav__logo {
  background-image: url("../img/logo.png");
  background-position: 0px 0px;
  width: 101px;
  height: 36px;
  margin: 14px 20px 10px;
  display: block;
  box-sizing: border-box; }

.main-nav__item {
  height: 62px;
  line-height: 62px;
  position: relative; }

.main-nav__link {
  padding: 0 20px;
  display: block;
  color: #FFF;
  text-decoration: none;
  cursor: pointer; }

.main-nav__avatar {
  top: 14px;
  display: inline-block;
  border-color: #FFF; }

.main-nav__burguer {
  font-size: 40px; }

.main-nav__dropdown {
  margin-top: -10px; }

.main-nav--positive {
  background: white;
  border-bottom: 1px #DDD solid;
  position: static; }

.main-nav--positive .main-nav__logo {
  background-position: 0px 36px; }

.main-nav--positive .main-nav__link {
  color: #666; }

.main-nav--positive .main-nav__avatar {
  border-color: #BBB; }

.content {
  padding: 20px;
  box-sizing: border-box; }

.content--small {
  width: 300px; }

.content--medium {
  width: 768px; }

.content--center {
  margin: auto; }

.row {
  position: relative; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 568px) {
  .columns {
    margin-left: 4%; }
  .columns:first-child {
    margin-left: 0; }
  .columns.one {
    width: 4.66667%; }
  .columns.two {
    width: 13.33333%; }
  .columns.three {
    width: 22%; }
  .columns.four {
    width: 30.66667%; }
  .columns.five {
    width: 39.33333%; }
  .columns.six {
    width: 48%; }
  .columns.seven {
    width: 56.66667%; }
  .columns.eight {
    width: 65.33333%; }
  .columns.nine {
    width: 74%; }
  .columns.ten {
    width: 82.66667%; }
  .columns.eleven {
    width: 91.33333%; }
  .columns.twelve {
    width: 100%;
    margin-left: 0; } }

.home-cover {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; }

.home-cover--opacity {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

.home-cover__content {
  top: 30%;
  position: relative; }

.home-cover__title {
  margin-bottom: 20px;
  color: #FFF;
  text-align: center; }

.home-search {
  width: 320px;
  margin: auto; }

@media (max-width: 768px) {
  .home-cover__content {
    padding: 0 30px; } }

@media (max-width: 568px) {
  .home-cover__content {
    top: 20%; }
  .home-search {
    width: auto; } }

.account .list .pure-button {
  width: 180px; }

@media (max-width: 768px) {
  .account {
    width: auto; }
  .account .list .pure-button {
    width: 50px;
    padding: 10px 0px; } }

.edit-profile__avatar .avatar {
  margin: 30px auto 30px;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s; }

.edit-profile__avatar .avatar:hover, .edit-profile__avatar .avatar.active {
  cursor: pointer;
  border-color: #3498DB; }

.edit-profile__avatar .avatar:hover .icon--circle, .edit-profile__avatar .avatar.active .icon--circle {
  top: 35px;
  background-color: #3498DB; }

.edit-profile__avatar .avatar .icon--circle {
  width: 28px;
  height: 30px;
  line-height: 28px;
  background-color: #555;
  top: 56px;
  left: 31px;
  position: absolute;
  transition: top 0.2s, background-color 0.2s;
  -webkit-transition: top 0.2s, background-color 0.2s; }

.edit-profile__avatar .avatar .icon--circle .icon {
  font-size: 22px; }

@media (max-width: 768px) {
  .edit-profile {
    width: auto; } }

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  letter-spacing: 0.01em; }
