.Ads
    max-width 700px !important
    overflow hidden
    
    .page-title
        a
            float right
    &-ad
        margin 10px 0px
        padding 10px 0px
        border-bottom 1px #DDD solid
        overflow hidden
        
        &-icons
            float right
            position relative
            top 20px
            font-size 2.2rem
            a
                color #ff5a5f
                

