.Booking
    max-width 768px !important
    &-row
        overflow hidden
        border-bottom 1px #DDD solid
        margin 10px 0px
        padding 10px 0px

        &.row-comment
            .Booking-label
                display block
                float none
            
    &-label
        float left
        width 80px
        color #337ab7
        font-weight bold
        

    &-costs
        .row
            padding 4px 0
            
        .btn
            margin 20px 0 0 0

       