.Schedule
    max-width 700px !important
    overflow hidden
    
    &-booking
        padding 10px 0
        border-bottom 1px #DDD solid
        overflow hidden
        
        &-avatar
            float left    
            
        &-info 
            margin 20px 0 0 100px
            display flex  
            justify-content space-between
            
            h4
                margin 0px
                width 20%
