.Search

    &-list
        display flex   
        flex-wrap wrap
        
        .Service
            width 33.3%
                        
            &-container
                margin 10px
                padding 10px
                border 1px #CCC solid
                text-align center
                min-height 250px
                
            &-avatar
                display block
                margin: 30px auto;
                
            &-price
                width 180px
                display block
                margin: 0 auto;
                

/* mediaqueries */
@media (max-width: 900px) 
    .Search

        &-list

            .Service
                width 50%
                
@media (max-width: 600px) 
    .Search

        &-list

            .Service
                width 100%