.UserService
    overflow hidden
    
    &-booking
        float right
        width 260px

            
    &-costs
        .row
            padding 4px 0
            
        .btn
            margin-top 20px
            width 100%
            
    &-detail
        padding-right 30px
        margin-right 300px
        border-right 1px #DDD solid