.UserService
    overflow hidden
    
    &-booking
        float right
        width 260px

            
    &-costs
        .row
            padding 4px 0
            
        .btn
            margin-top 20px
            width 100%
            
    &-detail
        padding-right 30px
        margin-right 300px
        border-right 1px #DDD solid
        
    &-user
        overflow hidden
            
        .Avatar
            float left
            
        &-info
            // float left
            margin-left 120px
            
        &-name
            margin 12px 0
            font-size 2rem
            
        &-feedback
            margin: 6px 0 20px;
            color #6AA31F
            font-weight bold
            
    &-description
        border-top 1px #DDD solid
        border-bottom 1px #DDD solid
        padding 20px 0
        margin 20px 0