@charset "UTF-8";

@font-face {
  font-family: "aydoor";
  src:url("fonts/aydoor.eot");
  src:url("fonts/aydoor.eot?#iefix") format("embedded-opentype"),
    url("fonts/aydoor.woff") format("woff"),
    url("fonts/aydoor.ttf") format("truetype"),
    url("fonts/aydoor.svg#aydoor") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "aydoor" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "aydoor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "a";
}
.icon-key:before {
  content: "b";
}
.icon-camera:before {
  content: "d";
}
.icon-nav:before {
  content: "e";
}
.icon-credit-card:before {
  content: "f";
}
.icon-loading-2:before {
  content: "c";
}
